@font-face
	font-family: Poppins
	font-style: normal
	font-weight: 600
	src: url('../fonts/poppins/Poppins-SemiBold.ttf')
body
    
	background-image: url(../img/main-bg.jpg)
	margin: 0
	pading: 0
	height: 100vh
	display: grid
	align-items: center
	justify-items: center
	

.wrapper
	display: grid
	grid-template-areas: "sidebar-nav main-content sidebar-content" 
	grid-template-columns: 17.9% 47% 35.1%
	width: 1440px
	height: 916px
	background-color: #FDFDFD
	border-radius: 24px
	overflow: hidden

.sidebar-nav
	grid-area: sidebar-nav
	height: 100%
	border-right: 1px solid #E4E4E4
	display: grid
	grid-template-areas: "sidebar-nav__logo" "sidebar-nav__navigation" "."
	grid-template-rows: 11.4% 49.8% 38.8%
	grid-area: sidebar-nav
	grid-row-gap: 46px

	&__logo
		
		grid-area: sidebar-nav__logo
		display: block
		padding-left: 44px
		align-self: end
		text-decoration: none
		font-family: Poppins
		font-size: 32px
		line-height: 48px
		color: #11142D

	&__navigation
		grid-area: sidebar-nav__navigation
		display: grid

		grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%

	&__link
		display: inline-block
		padding: 23px 0px 0px 64px
		height: 100%
		text-decoration: none
		color: #808191
		font-size: 14px
		&_active
			background-color: #2F3CED
			border-radius: 0px 12px 12px 0px
			color: white

.main-content
	grid-area: main-content
.sidebar-content
	grid-area: sidebar-content
.orange-dot
	color: #FF7C5D

.main-content
	height 100%
	display: grid
	grid-template-areas: "searchbar" "." "slider" "." "example-products"
	grid-template-rows: 7% 11.6% 44.4% 5% 32%
	grid-area: main-content
	&__searchbar
		display: grid
		grid-template-areas: "searchbar-field searchbar-field"
		grid-area: searchbar
	&__searchbar-icon
		grid-area: "searchbar-icon"
	&__searchbar-field
		grid-area: "searchbar-field"
		border: 2px solid #808191

	&__slider
		grid-area: slider
		display: grid
		grid-template: 1fr 1fr 1fr / 59.5% 40.5%
		grid-template-areas: "slider-img slider-title" "slider-img slider-subtitle" "slider-img slider-button"
		background-color: #2F3CED
		border-radius: 24px
		box-shadow: 0px 21px 0px 0px rgba(175, 213, 255, 0.4), 0px 11px 0px 0px #AFD5FF

	&__img
		grid-area: slider-img

	&__title
		grid-area: slider-title
		color: white
		font-size: 24px
		font-weight: bold
		align-self: center
	&__subtitle
		grid-area: slider-subtitle
		color: white
	&__button
		grid-area: slider-button
		background-color: #fЗff
		font-weight: bold
		border-radius: 14px
		width: 193px
		height: 56px
		border: none
	&__example-products
		grid-area: example-products
	&__cart
	&__title-cart
	&__img-cart
	&__category-cart
	&__comment-cart
	&__rating-cart
	&__lastReview-cart